@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100&display=swap');

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    background-color: #EDE9E6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

main{
    width: 90%;
    height: 95%;
    border-radius: 20px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
}

nav{
    width: 100%;
    height: 10%;
    background-color: white;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav ul{
    width: 45%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    list-style: none;
    background-color: transparent;
    
}

nav ul li,a{
    text-decoration: none;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.797);
    margin-right: 8px;
    font-family: 'poppins';
}

nav ul li,a:hover{
    color: black;
    font-weight: 500;
}

.active{
    color: black;
    font-weight: 500;
}

nav img{
    width: 40px;
    margin-right: auto;
}

nav div {
    width: 100px;
    height: 30px;
    background-color: transparent;
    border: 3px solid #EDE9E6;
    border-radius: 20px;
    margin-right: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav div:hover{
    background-color: #EDE9E6;
    transition: 0.3s ease;
}

div a{
    text-decoration: none;
    font-size: 12px;
    color: black;
    font-family: 'poppins';
    margin: 0;
}

#menu__icon{
    display:  none;
}
section{
    height: 87.5%;
    width: 99%;
    border-radius: 20px;
    margin-top: 10px;
    background-image: url(./assets/WhatsApp\ Image\ 2023-05-31\ at\ 10.09.16\ AM.jpeg);
    background-position: center;
    position: relative;
    overflow: hidden;
    background-repeat: no-repeat;
}

section img{
    width: 100%;
    height: 100%;
    z-index: 1;
    object-fit: cover;
    display: block;
}

section .wrapper{
    width: 50%;
    height: 50%;
    background-color: transparent;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    z-index: 2;
}

section .wrapper h1{
    font-size: 60px;
    font-family: 'poppins';
    font-weight: 700;
    margin: 0;
    margin-bottom: 0;
    padding: 0;
}
section .wrapper p{
    font-size: 15px;
    font-family: 'poppins';
    font-weight: 400;
    margin: 0;

}
section a button{
    width: 180px;
    height: 40px;
    border-radius: 20px;
    border: none;
    font-size: 16px;
    font-weight: 400;
    margin-top: 20px;
    background-color: #4E8B38;
    color: white;
    cursor: pointer;
}

section a button:hover{
    border: 1px solid #4E8B38;
    background-color: transparent;
    color: #4E8B38;
    transition: 0.3s ease ;
}


section .inputdec{
    width: 380px;
    height: 45px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.853) 34%, rgba(255, 255, 255, 0.163) 100%);
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    padding-right: 5px;
}

.inputdec button{
    width: 90px;
    height: 35px;
    background-color: rgb(0, 0, 0);
    color: white;
    font-size: 14px;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    margin-left: auto;
    cursor: pointer;
}

.inputdec p{
    font-size: 15px;
    font-weight: 400;
}

.inputdec i{
    font-size: 18px;
    margin-right:10px ;
    margin-left: 10px;
}
.inputdec .cursor{
    width: 1.2px;
    height: 22px;
    background-color: #4E8B38;
    margin-right:10px ;
}


@media screen and (min-width:768px) and (max-width:1027px) {
    
    
    body{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        width: 100vw;
        height: 100vh;
        background-color: #EDE9E6;
        overflow: auto;
    }
    
    main{
        width: 100%;
        height: 100%;
        border-radius: 0px;
        background-color: white;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
    
    nav{
        width: 100%;
        height: 12%;
        background-color: white;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        z-index: 1000;
        position: relative;
    }
    
    nav ul{
        position: absolute;
        top: 100%;
        right: -100%;
        width: 30%;
        height: 200px;
        background-color: white;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        border-radius: 20px;
        z-index: 100;
    }
    
    .nav__list li,a, .active{
        font-size: 18px;
        color: black;
        font-weight: 400;
        margin: 12px;
        margin-bottom: 16px;
    }
    .active{
        color: #4E8B38;
    }
    .nav__list li a:hover{
        color: #4E8B38;
    }
    
    .nav__list.open{
        display: block;
        top: 100%;
        right: 2.5%;
        transition: 1.0s ease;
        z-index: 100;
    }
    
    
    nav img{
       margin-left: 30px;
       width: 60px;
    }
    
    #menu__icon{
        display: block;
        font-size: 60px;
        margin-right: 10px;
        cursor: pointer;
    }
    
    nav div{
        border: 2px solid black;
        margin: 0;
        width: 120px;
        height: 50px;
        border-radius: 30px;
    }

    nav div:hover{
        background-color: black;
        transition: 0.3s ease;
    }
    nav div:hover a{
       color: white;
    }
    
    nav div a{
        font-size: 14px;
    }
    
    
    
    section{
        height: 90%;
        width: 98%;
        border-radius: 0px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        margin-top: 10px;
        background-image: none;
        background-position: center;
        position: relative;
       overflow: auto;
       display: flex;
       flex-direction: column;
       align-items: center;
       justify-content: space-evenly;
    }
    
    section img{
        width: 100%;
        height: 100%;
        z-index: 1;
        object-fit: cover;
        display: block;
    }
    
    section .wrapper{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 50%;
        background-color: transparent;
        transform: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        z-index: 10;
        margin: 0;
    }
    
    section .wrapper h1{
        font-size: 65px;
        font-family: 'poppins';
        font-weight: 700;
        margin: 0;
        margin-bottom: 0;
        padding: 0;
    }
    section .wrapper p{
        font-size: 15px;
        font-family: 'poppins';
        font-weight: 400;
        margin: 0;
    
    }
    section a button{
        width: 200px;
        height: 50px;
        border-radius: 25px;
        border: none;
        font-size: 16px;
        font-weight: 400;
        margin-top: 20px;
        background-color: #4E8B38;
        color: white;
        cursor: pointer;
    }
    
    section a button:hover{
        border: 1px solid #4E8B38;
        background-color: transparent;
        color: #4E8B38;
        transition: 0.3s ease ;
    }
    
    
    section .inputdec{
        width: 380px;
        height: 50px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        background: linear-gradient(90deg, rgba(255, 255, 255, 0.853) 34%, rgba(255, 255, 255, 0.163) 100%);
        position: absolute;
        top: 85%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 5px;
        padding-right: 5px;
        z-index: 3;
    }
    
    .inputdec button{
        width: 90px;
        height: 35px;
        background-color: rgb(0, 0, 0);
        color: white;
        font-size: 15px;
        border: none;
        border-radius: 5px;
        margin-left: auto;
        cursor: pointer;
    }
    
    .inputdec p{
        font-size: 15px;
    }
    
    .inputdec i{
        font-size: 20px;
        margin-right:10px ;
        margin-left: 10px;
    }
    .inputdec .cursor{
        width: 1.2px;
        height: 22px;
        background-color: #4E8B38;
        margin-right:10px ;
    }
    
    
    }


@media screen and (min-width:320px) and (max-width:767px) {
    
    
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    background-color: #EDE9E6;
    overflow: auto;
}

main{
    width: 100%;
    height: 100%;
    border-radius: 0px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

nav{
    width: 100%;
    height: 10%;
    background-color: white;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
    position: relative;
}

nav ul{
    position: absolute;
    top: 100%;
    right: -100%;
    width: 95%;
    height: 160px;
    background-color: white;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 20px;
    z-index: 100;
}

.nav__list li,a, .active{
    font-size: 18px;
    color: black;
    font-weight: 400;
    margin: 10px;
}
.active{
    color: #4E8B38;
}
.nav__list li a:hover{
    color: #4E8B38;
}

.nav__list.open{
    display: block;
    top: 100%;
    right: 2.5%;
    transition: 1.0s ease;
    z-index: 100;
}


nav img{
   margin-left: 20px; 
}

#menu__icon{
    display: block;
    font-size: 40px;
    margin-right: 10px;
    cursor: pointer;
}

nav div{
    margin: 0;
    width: 80px;
    height: 30px;
    border: 2px solid black;
}


nav div:hover{
    background-color: black;
    transition: 0.3s ease;
}
nav div:hover a{
   color: white;
}

nav div a{
    font-size: 10px;
}



section{
    height: 90%;
    width: 99%;
    border-radius: 0px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-top: 10px;
    background-image: none;
    background-position: center;
    position: relative;
   overflow: auto;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-evenly;
}

section img{
    width: 100%;
    height: 100%;
    z-index: 1;
    object-fit: cover;
    display: block;
}

section .wrapper{
    position: absolute;
    top: 0%;
    left:0%;
    width: 100%;
    height: 50%;
    background-color: transparent;
    transform: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 7;
    margin: 0;
}

section .wrapper h1{
    font-size: 40px;
    font-family: 'poppins';
    font-weight: 700;
    margin: 0;
    margin-bottom: 0;
    padding: 0;
}
section .wrapper p{
    font-size: 12px;
    font-family: 'poppins';
    font-weight: 400;
    margin: 0;

}
section a button{
    width: 180px;
    height: 40px;
    border-radius: 20px;
    border: none;
    font-size: 16px;
    font-weight: 400;
    margin-top: 20px;
    background-color: #4E8B38;
    color: white;
    cursor: pointer;
}

section a button:hover{
    border: 1px solid #4E8B38;
    background-color: transparent;
    color: #4E8B38;
    transition: 0.3s ease ;
}


section .inputdec{
    width: 330px;
    height: 45px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.853) 34%, rgba(255, 255, 255, 0.163) 100%);
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    padding-right: 5px;
    z-index: 3;
}

.inputdec button{
    width: 90px;
    height: 35px;
    background-color: rgb(0, 0, 0);
    color: white;
    font-size: 13px;
    border: none;
    border-radius: 5px;
    margin-left: auto;
    cursor: pointer;
}

.inputdec p{
    font-size: 12px;
}

.inputdec i{
    font-size: 18px;
    margin-right:10px ;
    margin-left: 10px;
}
.inputdec .cursor{
    width: 1.2px;
    height: 22px;
    background-color: #4E8B38;
    margin-right:10px ;
}


}
